.u-section-1 .u-sheet-1 {
  min-height: 636px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 463px;
  width: 397px;
  margin: 19px auto 60px;
}

.u-section-1 .u-input-1 {
  letter-spacing: 3px;
}

.u-section-1 .u-input-2 {
  letter-spacing: 3px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  letter-spacing: 3px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  letter-spacing: 3px;
}

.u-section-1 .u-input-5 {
  letter-spacing: 3px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}